<mat-card>
  <mat-card-subtitle> Add A Beer </mat-card-subtitle>

  <mat-form-field>
    <mat-label>Beer Name</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label> Type of Beer </mat-label>
    <mat-select>
      <mat-option value="one">Lager</mat-option>
      <mat-option value="two">Pilsner</mat-option>
      <mat-option value="two">Sour</mat-option>
      <mat-option value="two">Fruit Beer</mat-option>
      <mat-option value="two">IPA</mat-option>
      <mat-option value="two">Hazy IPA</mat-option>
      <mat-option value="two">Dubbel</mat-option>
      <mat-option value="two">Lambic</mat-option>
      <mat-option value="two">Saison</mat-option>
      <mat-option value="two">Witbier</mat-option>
      <mat-option value="two">Trippel</mat-option>
      <mat-option value="two">Quadrupel</mat-option>
      <mat-option value="two">Stout</mat-option>
      <mat-option value="two">Porter</mat-option>
      <mat-option value="two">Kolsch</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label> ABV </mat-label>
    <input matInput>
  </mat-form-field>


  <mat-label>Rating</mat-label>
  <mat-slider color="primary" thumbLabel tickInterval="1" min="1" max="10" step="1" value="5"></mat-slider>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput rows="6" [(ngModel)]="enteredValue"></textarea>
  </mat-form-field>

<button
  mat-raised-button
  color="primary"
  (click)="onAddPost()">Submit Beer
</button>

</mat-card>

<hr>


<p> {{ newPost}} </p>
